body {
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-image: url("https://vn-cs.com/data/data/anhpnh/2019/02/28/lieu-nhan-dinh-cua-ti-phu-novogratz-rang-thi-truong-crypto-co-dau-hieu-tim-thay-day-co-dung1.jpg");
}
body button{
    background-color: #caaf5e;
}
.wallet {
    width: 600px;
    height: 250px;
    /*background: #9f914f;*/
    color: #fff;
    box-sizing: border-box;
}
.wallet p{
    display: inline-block;
    color: #c14444;
}

.table {
    font-size: 16px;
    color: #efe9e9;
    box-sizing: border-box;
    height: 570px;
    /*display: inline-block;*/
}



