body {
    margin: 0;
    padding: 0;
    background: url("https://images.foody.vn/res/g79/789638/prof/s1242x600/foody-upload-api-foody-mobile-hmn-jpg-181024164336.jpg");
    background-size: cover;
    background-position: center;
}
form {

}